<h2>The Movie Store!</h2>
	<div style="text-align: center;"> <a href="javascript:void(0);" onclick="movies().showHide('add')">Add New Movie</a> <a>/</a> <a href="javascript:void(0);" onclick="movies().showHide('search')"> Search Movies</a> </div>
	<!-- Add Movie -->
	<div id="add_div" style="display: none;"> </div>
	<!-- Search Movie -->
	<div id="search_div" style="display: none;"> </div>
	<p style="margin-top: 100px"></p>
	<h2>Movies List</h2>
	<hr>
	<div id="movies" style="padding-top: 10px"> </div>
	<p style="text-align: center;" id="noMovieFound">No Movies Found!!!</p>